[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bliss/Desktop/PAYDAY 2.desktop]
row=4
col=0

[764AC37F4AC33B1F]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/bliss]
row=3
col=0

